.iconfont {
  font-size: 28px!important;
}
.tabbar {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #f8f8f8;
  background: #ffffff;
}
.tabbar-content{
  display: flex;
}
.tabbar-item{
  flex: 1;
}
.active {
  color: red!important;
}
.img {
  width: 100%;
  /* margin-bottom: 50px; */
}